<!-- Brand -->
<section class="lg:pb-[6.25rem] pb-14">
    <div class="has-bg !p-0 !bg-transparent">
        <h3 class="text-center mb-9 capitalize">@@title</h3>
        <div class="swiper brand-slider">
            <div class="swiper-wrapper py-[22px] mx-3">
                <div class="swiper-slide">
                    <div class="h-20 max-w-[240px] flex items-center justify-center  rounded-lg shadow">
                        <img loading="lazy" width="112" height="20" src="/images/brand/1.png" alt="brand-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="h-20 max-w-[240px] flex items-center justify-center  rounded-lg shadow">
                        <img loading="lazy" width="112" height="20" src="/images/brand/2.png" alt="brand-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="h-20 max-w-[240px] flex items-center justify-center  rounded-lg shadow">
                        <img loading="lazy" width="112" height="20" src="/images/brand/3.png" alt="brand-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="h-20 max-w-[240px] flex items-center justify-center  rounded-lg shadow">
                        <img loading="lazy" width="112" height="20" src="/images/brand/4.png" alt="brand-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="h-20 max-w-[240px] flex items-center justify-center  rounded-lg shadow">
                        <img loading="lazy" width="112" height="20" src="/images/brand/5.png" alt="brand-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="h-20 max-w-[240px] flex items-center justify-center  rounded-lg shadow">
                        <img loading="lazy" width="112" height="20" src="/images/brand/6.png" alt="brand-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Brand -->