<!-- Call to actions -->
<section class="section">
  <div class="container">
    <div class="lg:col-10 mx-auto">
      <div class="row gx-4 justify-between items-center">
        <div class="lg:order-1 order-2 lg:col-7 xl:col-6">
          <h2 class="has-shape">@@title</h2>
          <p class="mb-6">Lorem ipsum dolor sit amet consectetur corporis consectetur maxime corporis cumqLorcorporis
            consectetur.</p>
          <div class="row gx-3 gy-4">
            <div class="sm:col-7">
              <input placeholder="Your Email" class="form-input w-full" type="email" name="email" id="email" />
            </div>
            <div class="sm:col-5">
              <button aria-label="modal-open" class="btn btn-primary h-full">Know About Us</button>
            </div>
          </div>
        </div>
        <div class="lg:order-2 order-1 lg:col-5">
          <img loading="lazy" class="max-lg:mx-auto lg:w-full" width="400" height="304" src="images/about/5.png"
            alt="about-img">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Call to actions -->