<section class="bg-theme-light pt-12">
  <footer>
    <div class="container">
      <div class="row gy-5 pb-4">
        <div class="lg:col-3">
          <a class="navbar-brand mb-3 block lg:mb-6" href="/">
            <img src="images/logo.png" width="126" height="35" alt="agile" />
          </a>
          <p class="mb-3 lg:mb-8">
            Pellentesque lectus cum neque cursus sapien massa laoreet varius.
            Ultricies faucibus Aliquam mattis.
          </p>
          <h5 class="mb-3 lg:mb-5">Email</h5>
          <a class="hover:text-primary" href="mailto:deanna.curtis@example.com"
            >Deanna.curtis@example.com</a
          >
        </div>
        <div class="lg:col">
          <div class="row g-4">
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold text-dark">Resources</p>
              <ul class="mt-2 space-y-2 lg:mt-8 lg:space-y-5">
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="webinars.html"
                    >Webinars</a
                  >
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="blog.html">Blog</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="customers-story.html"
                    >Customers</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold text-dark">Solutions</p>
              <ul class="mt-2 space-y-2 lg:mt-8 lg:space-y-5">
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="#?">SaaS Renewal </a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="#?">SaaS Optimization</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="#?">SaaS Onboarding </a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="#?">IT/ App Discovery</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="#?">Shadow IT/ App</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="#?">IT/ Discovery</a>
                </li>
              </ul>
            </div>
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold capitalize text-dark">Company</p>
              <ul class="mt-2 space-y-2 lg:mt-8 lg:space-y-5">
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="index.html">Home</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="about.html">About Us</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="contact.html">Support</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="careers.html">Careers</a>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="pricing.html">Pricing</a>
                </li>
              </ul>
            </div>
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold text-dark">Address</p>
              <ul class="mt-2 space-y-2 lg:mt-8 lg:space-y-5">
                <li class="text-lg capitalize leading-7">
                  <address class="not-italic">
                    4517 Washington Ave. Manchester, Kentucky 39495
                  </address>
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="#?"
                    ><strong class="text-dark">Support</strong></a
                  >
                </li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="tel:(629) ++555-0129"
                    >(629) ++555-0129</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 border-t border-border py-7">
      <div class="container text-center text-light">
        <p>
          Designed And Developed by
          <a
            class="hover:text-primary"
            target="_blank"
            href="https://furioustheme.com/"
            >Furioustheme</a
          >
        </p>
      </div>
    </div>
  </footer>
</section>

<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Shuffle JS -->
<script src="plugins/shuffle/shuffle.min.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>
